/*Container css stling starts here*/

/* jumbotron styling starts here */
.jumbotron{
    background-image: url(../images/backgrounds/landing.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    height: 500px;
}
.logo{

}
.heading{

}
/* Menu styling starts here*/
.row{
    position: relative;
}
.menu{
    padding: inherit;
}
.col-md-3{
    padding: 0;

}
.menu p{
    color: white;

}

.breakfast{
    background-image: url(../images/foodtop/breakfast.jpg);
    height:200px;
    text-align: center;
    padding: 0;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    width: auto;
}
.launch{
    background-image: url(../images/foodtop/lunch.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    width: auto;
    height:200px;


}
.dinner{
    background-image: url(../images/foodtop/dinner2.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    width: auto;
    height:200px;
    margin: 0;
}
.happy p {
    color: black;
}
.happy{
    background-color: red;
    height:100px;
    margin: 0;

}
.party{
    background-color: red;
    height: 100px;
    margin: 0;

}
/*Conetent syleing start here*/

.excitment{
    padding: 0px 100px;
}
/*selectMenu styleing starts here*/

.selectMenu{
    background-image: url(../images/backgrounds/foodsBg.jpg);
    padding: 50px 50px;

}
.select{
    padding: 50px 100px;
    margin: 20px 20px;
    background-color: white;
}
/*testimony styling */
.testimony{

}
/* subscribe styling starts here*/

.subscribe{
    background-image: url(../images/backgrounds/subscribe.jpg);
    height: 200px;

}
.form-inline{
    height: 200px;
    width: auto;

}
/*Footer syling starts here*/
.footer{
    background-color: red;
    height: 200px;
}
