.jumbotron{
    background-image: url(../images/backgrounds/landing.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    width: auto;
    height: 500px;
}
.row{
    position: relative;
}
.menu{
    padding: inherit;
}
.col-md-3{
    padding: 0;

}
.menu p{
    color: white;

}

.breakfast{
    background-image: url(../images/foodtop/breakfast.jpg);
    height:200px;
    text-align: center;
    padding: 0;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    width: auto;
}
.launch{
    background-image: url(../images/foodtop/lunch.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    width: auto;
    height:200px;


}
.dinner{
    background-image: url(../images/foodtop/dinner2.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    width: auto;
    height:200px;
    margin: 0;
}
.happy p {
    color: black;
}
.happy{
    background-color: red;

    height:100px;
    margin: 0;

}
.party{
    background-color: red;
    height: 100px;
    margin: 0;

}

.excitment{
    padding: 0px 100px;
}

.selectMenu{
    background-image: url(../images/backgrounds/landing.jpg);
    padding: 50px 50px;

}

.select{
    padding: 50px 100px;
    margin: 20px 20px;
    background-color: white;
}
.shadow-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
