/*Container css stling starts here*/

/* jumbotron styling starts here */
.jumbotron{
    background-image: url(../images/backgrounds/landing.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 600px;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    border: 0 none;

}
.col-md-12{
    border-radius: 0px;
}

.logo{
    display: block;
    position: relative;
    text-align:center;
}
.heading{
    text-align: center;
}
h1{
    font-size: 18px;
    font-family: 'Karma', serif;
}
/* Menu styling starts here*/

.menu{
    padding:0;
}
.col-md-12{
    padding: 0;
}

}

.pad{
    padding: 0;
    margin: 0;
}
.menu p{
    color: white;
    text-align: center;
    line-height: 200px;
}
.hour{
    padding: 0;
}
.hour p{
    color: white;
    text-align: center;
    line-height: 100px;

}

.happy{
    background-color: white;
    height:100px;
    margin: 0;

}
.party{
    background-color:#F15A29;
    height: 100px;
    margin: 0;

}
.breakfast{
    background-image: url(../images/foodtop/breakfast.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    height:200px;
    padding: 0;

}
.launch{
    background-image: url(../images/foodtop/lunch.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    height:200px;
    padding: 0;


}
.dinner{
    background-image: url(../images/foodtop/dinner2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    height:200px;
    padding: 0;
}
.happy p {
    color: black;
}


}

/*Conetent syleing start here*/

.excitment{
    padding-top:100px;
    padding-bottom: 100px;
    margin-top: 200px;
    }
.shadow-box{
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-position: 100%;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;


}
.images{
    width: 100%;
    height: 100%;
}
.content{
    padding-top: 100px;
    padding-bottom: 100px;

}
.fastfood{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: inherit;

}
/*selectMenu styleing starts here*/

.selectMenu{
    background-image: url(../images/backgrounds/foodsBg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    height: 550px;

}
.select{

    background-color: white;
    text-align: center;
    margin-top: 225px;
    margin-bottom: auto;
}
/*testimony styling */
.testimony{
    height: 400px;
}
.test{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 75px;
    padding: 10px;
    height: 210px;
}
.test-info{
    padding: 5px 0px;
    height: inherit;
    margin: 5px 0px
}
.customer{
    padding-top: 10px;
    margin-top: -10px;
}
.customer h3{
    text-align: center;
}
.about{
     border-left: 2px solid grey;
     padding-left: 30px;
     margin-top: 0px;
}
/* subscribe styling starts here*/

.subscribe{
    background-image: url(../images/backgrounds/subscribe.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    height: 300px;

}
.form-subscribe{
    margin-top: 0px;
}
.form-subscribe h4{
    color: white;
}
.form-control{
    border-radius: 3px;
}
.btn-lg{
    background-color: #F15A29;
    border: 0;
    border-radius: 3px;
    color: white;
    width: 200px;
    height: 55px;
}

.form-subscribe{
    padding-top: 100px;

}
.form-inline{
    height: 200px;
    width: auto;

}
.form-group{
    width:
}
.form-control{
    height: 55px;
    width: 400px;
    margin:10px 26px;
    padding: 20px 130px;
    opacity: 10%;
}
/*Footer syling starts here*/
.footer{
    background-color:#F15A29;
    height: 200px;
}
.footer-logo h3{
    font-size: 50px;
    color: white;
    padding: 10px 10px;
    margin: 10px 10px;

}
.footer-menu{
    text-align: center;
}
.social{
    padding: 10px 0px;
    margin: 10px 0px;
}
ul{

}
li{
    display: inline;
}
.copyright{
    margin-top: 60px;
}
